.navbar{
    width: 100%;
    height: 100px;
}

.containerNAV
{
    margin-right: 5px;
    padding-right: 20px;
}
.nav
{
    float: left;
    
}
.icon
{
width: 30px;
height: 25px;
}
h2 a{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
li a img{

    margin-left: 15px;
    margin-right: 15px;
}
.signup_style{
    text-decoration: none;
    color: blue;
}