
<nav class="navbar navbar-dark bg-light">
    <span class="navbar-brand mb-0 h1">
        <h2><a routerLink="/home">MAGIC</a></h2>
    </span>
    <div class="containerNAV">
        <ul class="nav">
          
            <li><a routerLink="/login">
                    <img src="../assets/images/person icon.png" class="icon"></a></li> 
            <li routerLink="/wishlist">
                <img src="../assets/images/heart icon.png" class="icon">
            </li> 
            <li><a routerLink="/package">
                    <img src="../assets/images/package.png" class="icon">
                </a></li>

                
        </ul>
    </div>
</nav>

