.jumbotron{
    background-color: black;
}
h5{
    color: white;
}


h1{
    text-align: center;
    color: white;
}
P{
    text-align: center;
    color: white;
}

/* .navbar{
    background-color: black;
    width: 100%;
    height: 200px;
} */

.linkstyle{
    color:white;
    margin-left: 40px;
    text-align: center;
}
/* .navcolor{
     
    background-color: rgba(207, 164, 164, 0);
    
} */
li a{
    text-decoration: none;
}
