<div class="container">
        <nav class="header">
            
           <a routerLink="">Home</a> |
           <a routerLink="/makeup">makeup</a>
            
        </nav>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-4" >
                <img src="{{makeupdetails.img_url}}">
                </div>
                <div class="col-4">
                   
                </div>
                <div class="col-4"id="btn">

                    <p>{{makeupdetails.name}}</p>
                    <p>{{makeupdetails.price}}EGP</p>
                    <br><br>
                    <img src="{{makeupdetails.img_url1}}" class="small">
                   
                                        </div>
                </div>
            
            <div class="row divmargin">
                
               
            </div>
            
        </div>
        

