.cardstyle{

    border: 1px outset #ECE1D8;
    margin-bottom: 40px;
    margin-top: 40px;
}
 img{
    
        width: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
  
 }
 .fontstyle{
       font-family: Times New Roman;
       font-size: 25px;
       font-weight: bold;
 }
 .fontstyle1{
    
     font-family: sofia;
     font-size: 15px;
     font-weight: bold;
     color: #1E201E;
     background-color: #ECE1D8;
     margin-left:0;
     text-align: center;
     cursor: pointer;
     
 }
 .zoom1:hover{
     font-size:20px;
     color:  #363A3E;
     background-color: #C3AA88;
     font-family: sofia;
 }
 .sameline{
     float: left;
     margin-top: 10px;
     margin-left: 5px;
     font-size: 25px;
 }
 .center
 {
     text-align: center;
 }
 nav a{
    text-decoration: none;
}
.header
{
    text-align: center;
    color: black;
    background-color: rgb(234, 234, 241);
    height: 50px;
  
}
