<h2 class="title">REGISTER</h2>
<br>
<div class="container"> 
    <form #userForm="ngForm" novalidate (ngSubmit)="onSubmit()" action="/user/signup" method="POST">
       
 <div class="form-group">  
        <label>First Name :</label> 
           <input type="text" #Fname="ngModel" [class.is-invalid]="Fname.invalid && Fname.touched" 
           required class="form-control" [(ngModel)]="userModel.Fname" name="firstname">
           <small [class.d-none]="Fname.valid || Fname.untouched" class="text-danger">Name is required</small>
          </div> 

          <div class="form-group">  
              <label>Last Name :</label> 
                 <input type="text" #Lname="ngModel" [class.is-invalid]="Lname.invalid && Lname.touched" 
                 required class="form-control" [(ngModel)]="userModel.Lname" name="lastname">
                 <small [class.d-none]="Lname.valid || Lname.untouched" class="text-danger"> last Name is required</small>
                </div>  
              
                <div class="form-group">  
                     <label>Email :</label> 
                      <input type="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" 
                      required class="form-control" [(ngModel)]="userModel.email" name="email">
                      <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email is required</small>
                    </div> 


                       
<div class="form-group">  
       <label>password :</label> 
        <input type="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" 
        required class="form-control" [(ngModel)]="userModel.password" name="password">
        <small [class.d-none]="password.valid || password.untouched" class="text-danger">Password is required</small>
      </div> 
      
     
                  
                  <input type="submit" [disabled]="userForm.form.invalid" class="btn btn-dark" value="REGISTER">


                  
                 
       </form>           
</div> 



