<div class="container">
        <nav class="header">
            
           <a routerLink="">Home</a> |
           <a routerLink="/dress">dress</a>
            
        </nav>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-4" >
                <img src="{{dressdetails.img_url}}" class="main_img">
                </div>
                <div class="col-4">
                    <br><br>
                    <p>{{dressdetails.color}}</p>
                    <p>{{dressdetails.price}}$</p>
                    <br><br>
                    
                

                </div>
                <div class="col-4"id="btn">
                    <input type="submit" value=" Add To Wishlist" class="btn btn-light inputstyle">
                    <br><br>
                    <input  type="submit" value="Add To Package" class="btn btn-light inputstyle" >

                    </div>
                </div>
            
            
             
                
      
            
        </div>
        
