.margindown{
    margin-top: 50px;
}
.cardstyle{
       
        border: 1px outset #ECE1D8;
        margin-bottom: 10px;
    }
    .center{
        text-align: center;
    }
     img{
         width: 190px;
         display: block;
         margin-left: auto;
         margin-right: auto;
     }
     .fontstyle{
           font-family: Times New Roman;
           font-size: 20px;
           font-weight: bold;
     }
     .fontstyle1{
        
         font-family: sofia;
         font-size: 15px;
         font-weight: bold;
         color: rgba(243, 246, 243, 0.96);
         background-color: rgba(32, 31, 30, 0.67);
         margin-left:0;
         text-align: center;
         cursor: pointer;
         
     }
     .zoom1:hover{
         font-size:20px;
         color:  #363A3E;
         background-color: silver;
         font-family: sofia;
     }
     .sameline{
         float: left;
         margin-top: 10px;
         margin-left: 5px;
         font-size: 25px;
     }
    div p{
        padding-left: 10px;
        font-family: Times New Roman;
        font-weight: bold;
    }