

<div class=“container-fluid” > 
       <div class="row">
              <div class="col-6">
       <form #userForm="ngForm"novalidate (ngSubmit)="onSubmit()" action="/user/login" method="POST">
              
    <div class="form-group">  
           <label>Email :</label> 
              <input type="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" required class="form-control" [(ngModel)]=" userModel.email" name="email">
              <small [class.d-none]="email.valid || email.untouched" class="text-danger">email is required</small>
             </div>  
  <div class="form-group">  
          <label>password :</label> 
           <input type="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" required class="form-control" [(ngModel)]=" userModel.password" name="password">
           <small [class.d-none]="password.valid || password.untouched" class="text-danger">password is required</small>
         </div> 

             
                       
                     <input type="submit" [disabled]="userForm.form.invalid" class="btn btn-dark" value="log in">

                     <!-- <div class="form-check mb-3">   
                          <input type="checkbox" class="form-check-input" [(ngModel)]="userModel.checktxt" name="checkname">   
                           <label class="form-check-label">Remember me</label> </div>  -->
                     </form>
              </div>
              <div class="col-6">
                     <h3 class="register">NEW CUSTOMER</h3>
                     <div class="row">
                            <h5 class="pargraph">to ceate a new account</h5>
                     </div>
                            <br><br>
                            <div class="row">
                     <button class="btn btn-dark registerbtn" routerLink="/signup" value="REGISTER"> REGISTER</button>
              </div>
              </div>
              </div>
                   
</div> 

